<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hypertext">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hypertext">
        <activity
            android:name=".Example_Of_Workouts"
            android:exported="true" />
        <activity
            android:name=".Variants_of_workout"
            android:exported="true" />
        <activity
            android:name=".Edit_Physical_Params"
            android:exported="true" />
        <activity
            android:name=".Activity_Tips"
            android:exported="true" />
        <activity
            android:name=".Physical_Params"
            android:exported="true" />
        <activity
            android:name=".Creating_Train_Activity"
            android:exported="true" />
        <activity
            android:name=".Greetings_Activity"
            android:exported="true" />
        <activity
            android:name=".Fitness_Activity"
            android:exported="true" />
        <activity
            android:name=".Manual_Activity"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".Sign_Up"
            android:exported="true" />
        <activity
            android:name=".Sign_In"
            android:exported="true"
            android:label="@string/title_activity_new"
            android:theme="@style/Theme.Hypertext.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>